

body {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 0%, rgba(0, 212, 255, 1) 100%);
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    
}


img{
    width: 50rem;
    display: inline-block;
}

button {
    background-color: #4D77FF;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    transition: 0.5s;
  
  }
  
  button:hover {
    background-color: #0E3EDA;
  
  }